$wrapper: .c-modal-wrapper;
$overlay: $(wrapper)__overlay;
$content: $(wrapper)__content;

$component: .c-modal;
$body: $(component)__body;
$footer: $(component)__footer;
$closeWrapper: $(component)__close;
$closeIcon: $(component)__close-icon;
$title: $(component)__title;

body.is-modal-visible {
  overflow: hidden;
}

$component {
  position: relative;
  z-index: 2200;
  display: block;
  text-align: left;
  vertical-align: middle;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: $border-radius;
  overflow: visible;
  padding: 24px;
  box-shadow: none;
  outline: 0 none;
  z-index: 1;
  margin: auto;

  @media (--small) {
    width: 95% !important;
  }
}

/** sizes **/
$component {
  &--md {
    max-width: 610px;
    width: 610px;
  }
}

$content {
&:before,
  &:after {
    content: '';
    vertical-align: middle;
    margin-right: -4px;
    @media (--small) {
      margin-right: 0px;
    }
  }
  &:before {
    display: inline-block;
    height: 15%;
    @media (--xsmall) {
      height: 30%;
    }
  }
  &:after {
    display: block;
    height: 10%;
  }
}

$footer {
  margin-top: 0;
  padding: 10px 15px;
  border-top: none;
  display: none;
}

$title {
  margin-bottom: 30px;
}

$closeWrapper {
  font-weight: $font-black;
  color: #fff;
  position: absolute;
  top: -27px;
  right: 0px;
  &:hover {
    cursor: pointer;
  }
}

$closeIcon {
  position: relative;
  border: none;
  margin-right: 4px;
  background: transparent;

  i {
    color: #fff;
    font-size: 16px;
  }
}

$wrapper {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2050;
  text-align: center;
  padding: 0;

  &--md $content {
    max-width: 610px;
    width: 610px;

    @media(--small) {
      width: 90%;
    }
  }

  &--sm $content {
    max-width: 300px;
    width: 300px;

    @media(--small) {
      width: 90%;
    }
  }

  &--animation-entering $content {
    animation-name: enterIn;
    animation-duration: .12s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }

  &--animation-exiting $content {
    animation-name: enterOut;
    animation-duration: .12s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }

  &--animation-entering $overlay {
    animation-name: fadeIn;
    animation-duration: .12s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }

  &--animation-exiting $overlay {
    animation-name: fadeOut;
    animation-duration: .12s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
}

$overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $deep-blue;
  opacity: 0.7;
  transition: all .1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  to { opacity: 0.7; }
}

@keyframes fadeOut {
  0% { opacity: 0.7;}
  to { opacity: 0; }
}

@keyframes enterIn {
  0% {
    margin-top: -20px;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    margin-top: 0;
  }
}

@keyframes enterOut {
  0% {
    margin-top: 0;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
    margin-top: -20px;
  }
}
