$width: 30px;

.loader {
  position: relative;
  margin: 0px auto;
  width: $width;
  display: none;
  &:before {
    content:'';
    display: block;
    padding-top: 100%;
  }

  &.loader--primary {
    .path {
      animation:
       dash 1.5s ease-in-out infinite,
       colorgreen 6s ease-in-out infinite
      ;
    }
  }

  &.login-loader .path {
    animation:
     dash 1.5s ease-in-out infinite,
     colorgray 6s ease-in-out infinite
    ;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}


.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation:
   dash 1.5s ease-in-out infinite,
   colorwhite 6s ease-in-out infinite
  ;
  stroke-linecap: round;
}

@keyframes rotate{
 100%{
  transform: rotate(360deg);
 }
}
@keyframes dash{
 0%{
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
 }
 50%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -35px;
 }
 100%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -124px;
 }
}
@keyframes colorgreen{
  100%, 0%{
    stroke: $bright-teal;
  }
  40%{
    stroke: $bright-teal;
  }
  66%{
    stroke: $bright-teal;
  }
  80%, 90%{
    stroke: $bright-teal;
  }
}
@keyframes colorgray{
  100%, 0%{
    stroke: $light-gray;
  }
  40%{
    stroke: $light-gray;
  }
  66%{
    stroke: $light-gray;
  }
  80%, 90%{
    stroke: $light-gray;
  }
}

@keyframes colorwhite{
  100%, 0%{
    stroke: #fff;
  }
  40%{
    stroke: #fff;
  }
  66%{
    stroke: #fff;
  }
  80%, 90%{
    stroke: #fff;
  }
}
