$component: .c-breadcrumb;
$wrapper: $(component)__wrapper;
$item: $(component) li a;

$component {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  font-size: 13px;
  background: none;
}

$wrapper {
  padding: 0;
  margin-bottom: 16px;
}

$item {
  font-size: 13px;
  color: $charcoal-gray;
  text-decoration: none;
}

$component > li + li:before {
  color: $ash-gray;
  font-weight: normal;
  padding: 0 0 0 3px;
  content: '/\A0';
}
