$component: .c-static-popover;
$bottom: $(component)--bottom;
$top: $(component)--top;
$left: $(component)--left;
$right: $(component)--right;
$none: $(component)--none;
$content: $(component)__content;
$arrow: $(component)__arrow;

$component {
  position: absolute;
  cursor: pointer;
  z-index: 1060;
  display: block;
  padding: 1px;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: $border-radius;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
  line-break: auto;
}

$content {
  padding: 16px 24px;
}

$component > $arrow {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 11px;

  &:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content: "";
    border-width: 10px;
  }
}

$bottom {
  left: 50%;
  top: 19px;
  transform: translate(-50%, 0);
}

$top {
  left: 50%;
  top: -19px;
  transform: translate(-50%, -100%);
}

$right {
  right: -19px;
  top: 50%;
  transform: translate(100%, -50%);
}

$left {
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
}

$none > $arrow {
  display: none;
}

$bottom > $arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: $off-white;
  filter: drop-shadow();

  &:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff;
  }
}

$top > $arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #fff;
  filter: drop-shadow();

  &:after {
    bottom: 1px;
    margin-left: -10px;
    content: '';
    border-bottom-width: 0;
    border-top-color: #fff;
  }
}

$left > $arrow {

}

$right > $arrow {
  left: -11px;
  bottom: 50%;
  margin-bottom: -11px;
  border-left-width: 0;
  border-right-color: #fff;

  &:after {
    left: 1px;
    margin-bottom: -10px;
    content: '';
    border-left-width: 0;
    border-left-color: #fff;
  }
}
