$component: .c-textarea;
$textarea: $(component)__textarea;
$empty: $(component)--is-empty;

$component {
  position: relative;
  width: 100%;

  &--md $textarea {
    height: 40px;
    font-size: 16px;
  }
}

$textarea {
  width: 100%;
  color: $charcoal-gray;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid $light-gray;
  background: #fff;
  box-shadow: none !important;
  padding: 10px 16px;
  resize: none;

  &:focus {
    border-color: $ash-gray;

    &::placeholder {
      color: $light-gray;
    }
  }

  &::placeholder {
    color: $ash-gray;
  }
}
