$component: .c-tooltip;
$visible: $(component)--is-visible;
$primary: $(component)--primary;
$danger: $(component)--danger;

$wrapper: $(component)__wrapper;
$arrow: $(component)__arrow;
$inner: $(component)__inner;

$wrapper {
  position: relative;
  display: inline-block;
}

$component {
  display: none;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  z-index: 1070;
  white-space: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  line-break: auto;
  margin-bottom: 3px;
  left: 50%;
  transform: translateX(-50%);

  &$visible {
    display: block;
  }
}

$component {
  &--top {
    padding: 5px 0;
    bottom: 100%;
  }
  &--bottom {
    padding: 5px 0;
    margin-top: 3px;
  }
}

$component {
  &$primary {
    $inner {
      background-color: #000;
    }

    $arrow {
      &--top { border-top-color: #000; }
      &--bottom { border-bottom-color: #000; }
    }
  }

  &$danger {
    $inner {
      background-color: $warning-red;
    }

    $arrow {
      &--top { border-top-color: $warning-red; }
      &--bottom { border-bottom-color: $warning-red; }
    }
  }
}

$arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;

  &--top {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
  }

  &--bottom {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-bottom-color: #000;
  }
}

$inner {
  max-width: 200px;
  width: max-content;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  font-size: 0.75rem;
}
