$component: .c-spinner;

$spinner-gray: .c-spinner--gray;
$warning: .c-spinner--warning;
$danger: .c-spinner--danger;

$component {
  text-align: center;
}

$spinner-gray {
  svg {
    fill: $light-gray;
  }
}

$warning {
  svg {
    fill: $warning-orange;
  }
}

$danger {
  svg {
    fill: $warning-red;
  }
}
