$component: .c-button;
$label: $(component)__label;
$icon: $(component)__icon;
$loader: $(component)__loader;

$primary: $(component)--primary;
$warning: $(component)--warning;
$danger: $(component)--danger;
$subtle: $(component)--subtle;
$link: $(component)--link;

$medium: $(component)--md;
$large: $(component)--lg;

$primary-disabled: $(component)--primary$(component)--is-disabled;
$warning-disabled: $(component)--warning$(component)--is-disabled;
$danger-disabled: $(component)--danger$(component)--is-disabled;
$subtle-disabled: $(component)--subtle$(component)--is-disabled;

$loading: $(component)--is-loading;
$fullWidth: $(component)--full-width;

@define-mixin button-default $color {
  border-color: $color;

  $label, $icon {
    color: $color;
  }

  &:hover {
    background: $color;
    $label, $icon { color: #fff; }
  }
}

@define-mixin button-disabled $color {
  border-color: $color;

  $label, $icon {
    color: $color;
  }

  &:hover {
    background: #fff;
    $label, $icon { color: $color; }
  }
}

@define-mixin button-size $min-width, $padding, $font-size {
  padding: $padding;
  min-width: $min-width;

  $label, $icon {
    font-size: $font-size;
  }
}

$component {
  position: relative;
  background: transparent;
  margin: 0;
  font-weight: $font-bold;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 100px;
  white-space: nowrap;
  display: inline-block;
  width: auto;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  touch-action: manipulation;
  transition: all 0.3s ease;

  &:hover {
    $label, $icon {
      color: #fff;
    }
  }

  &:focus {
    box-shadow: none;
  }
}

$label {
  line-height: 16px;
  font-weight: $font-black;
  display: inline-block;
}

$icon {
  margin-right: 4px;
  vertical-align: 0;
  font-weight: $font-black;
}

$loader {
  @mixin absolute-center;
  display: none;
  margin: 0 !important;
}

$primary {
  @mixin button-default $bright-teal;
}

$warning {
  @mixin button-default $warning-orange;
}

$danger {
  @mixin button-default $warning-red;
}

$subtle {
  @mixin button-default $ash-gray;
}

$primary-disabled {
  @mixin button-disabled $light-gray;
}

$warning-disabled {
  @mixin button-disabled $light-orange;
}

$danger-disabled {
  @mixin button-disabled $light-red;
}

$subtle-disabled {
  @mixin button-disabled $light-gray;
}

$link {
  padding: 0 !important;
  background: transparent;
  min-width: auto !important;

  $label {
    text-decoration: underline;
    font-style: italic;
    color: $ash-gray;
    font-weight: 500;
    font-size: 16px;
  }

  &:hover {
    $label {
      color: $charcoal-gray;
    }
  }
}

$medium {
  @mixin button-size 120px, 8px 42px, 14px;
}

$large {
  @mixin button-size 176px, 16px 40px, 16px;
}

$fullWidth {
  width: 100%;
}

$loading {
  $label, $icon { visibility: hidden; }
  $loader { display: block; }
  &:hover {
    $loader {
      svg {
        fill: #fff;
      }
    }
  }
}
