$component: .c-avatar;

$component {
  margin: 0;
  border-radius: 50%;

  &--xlg {
    size: 80px;
  }

  &--lg {
    size: 64px;
  }

  &--md {
    size: 56px;
  }

  &--sm {
    size: 40px;
  }

  &--xs {
    size: 24px;
  }
}
