* {
  outline: none !important;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, div, td, button, input, textarea, select, optgroup, * {
  font-family: 'Arial';
}
i, span.fa, div.fa {
  font-family: 'FontAwesome';
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, div, td {
  color: $charcoal-gray;
}

body {
  background: #fff;
  overflow-x: hidden;
}

html,
body,
p {
  font-size: 16px;
  line-height: 24px;
}

a {
  cursor: pointer;
  color: #4A90E2;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;

  &:focus,
  &:active {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

img {
  border: 0;
  vertical-align: middle;
}

code {
  background-color: #f7f7f9;
  border-radius: 3px;
  border: 1px solid #e1e1e8;
  color: #c25;
  font-size: 85%;
  padding: 1px 3px;
  white-space: nowrap;
}

ul, ol {
  list-style: none;

  &.unstyled {
    list-style: none outside none;
    margin-left: 0;
  }
}

pre {
  background: #fbfaf8;
  padding: 5px;
  word-break: normal;
  margin-bottom: 0px;
  color: $charcoal-gray;
  font-size: 12px;
}

blockquote {
  padding: 0 0 0 8px;
  margin: 5px 0;
  font-size: inherit;
  border-left: none;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0px;
    width: 4px;
    height: 100%;
    line-height: 1;
    background: #e3e4e6;
    border-radius: 4px;
  }
}

/**
 * Reset scrollbar
 */

body .ps__rail-y {
  margin: 8px 0;
  &:hover > .ps__thumb-y,
  &:focus > .ps__thumb-y,
  &.ps--clicking .ps__thumb-y {
    width: 8px !important;
  }

  &:hover, &:focus, &.ps--clicking {
    background: transparent !important;;
  }
}

body .ps__thumb-y {
  width: 8px;
  background: $ash-gray;
  border-radius: 4px;
  right: 4px;
}
