h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-weight: 900;
}

h5, h6 {
  font-weight: $font-bold;
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}
