$component: .c-autocomplete;
$input: $(component)__input;
$suggestions: $(component)__suggestions;
$suggestion: $(component)__suggestion;
$spinner: $(component)__spinner;
$scrollbarWrapper: $(component)__scrollbar-wrapper;

$medium: $(component)--md;
$empty: $(component)--is-empty;
$focused: $(component)--is-focused;
$wSpinner: $(component)--spinner-visible;

$maxHeight: 192px;

$component {
  position: relative;
}

$medium {
  $suggestions {
    top: 48px;
  }

  $input input {
    font-size: 16px;
    font-weight: 700;
  }

  $suggestion a {
    font-size: 16px;
    line-height: 1;
    font-weight: $font-bold;
    padding: 16px;
  }
}

$focused {
  $input .c-input {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

$suggestions {
  position: absolute;
  width: 100%;
  z-index: 10;
  max-height: $maxHeight;
  transition: max-height 0.3s ease, height 0.3s ease;

  text-align: left;
  background: #fff;
  border: 2px solid $ash-gray;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  border-top: none;
  overflow: hidden;

  &--is-visible {visibility: visible;}
  &--is-invisible {visibility: hidden;}
}

$suggestion {
  a {
    color: $charcoal-gray;
    width: 100%;
    display: block;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--preselected a {
    color: $charcoal-gray;
    background: $off-white;
    cursor: pointer;
  }
}

$wSpinner {
  $suggestions {
    max-height: calc($maxHeight + 56px);
  }
}

$spinner {
  padding: 8px;
}

$scrollbarWrapper {
  transition: height 0.3s ease;
}
