$component: .c-switch;
$checked: $(component)--is-checked;
$disabled: $(component)--is-disabled;
$inner: $(component)__inner;

$component {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 56px;
  height: 24px;
  border-radius: 100px;
  background-color: $light-gray;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);

  &:after {
    position: absolute;
    size: 16px;
    top: 4px;
    border-radius: 50%;
    left: 4px;
    right: auto;
    background-color: #fff;
    content: " ";
    cursor: pointer;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  }
}

$checked {
  background-color: $bright-teal;

  &:after {
    right: 4px;
    left: auto;
  }

  $inner {
    left: 10px;
    right: auto;
  }
}

$disabled {
  background-color: $light-gray;
}

$inner {
  top: 4px;
  display: inline-block;
  line-height: 16px;
  vertical-align: middle;
  color: #fff;
  font-size: 14px;
  font-weight: $font-black;
  position: absolute;
  right: 10px;
  left: auto;
}
