$component: .c-tabs;
$fullWidth: $(component)--full-width;
$noPadding: $(component)--no-padding;
$head: $(component)__head;
$headTabs: $(component)__tab;
$body: $(component)__body;
$tabs: $(component)__tabs;
$bodyTab: .c-tab;
$bodyTabActive: .c-tab--is-active;
$bodyTabInactive: .c-tab--is-disabled;

$tabBody: .c-tab__body;
$tabHead: .c-tab__head;

$head {
  display: flex;
  margin-bottom: -1px;
  background: transparent;
}

$body {
  background: white;
  padding: 25px;
  border: 1px solid #fff;

  @media (max-width: 767px) {
    background: none;
    border: 0;
  }
}

$bodyTab {
  display: none;
  @media (max-width: 767px) {
    display: block;
    background: #fff;
    margin-bottom: 25px;
  }
}
$bodyTabActive {
  display: block;
}

$tabs {
  display: flex;
  flex: 1 0 auto;
}

$headTabs {
  padding: 0;
  margin-right: 48px;
  font-weight: 900;
  font-size: 18px;
  line-height: 1;
  color: $ash-gray;
  border: 1px solid transparent;
  &:hover { cursor: pointer; }

  &--is-active {
    color: $charcoal-gray;
    background: #fff;
    border: 1px solid #fff;
    border-bottom: none;
    position: relative;

    &:after {
      content: '';
      display: block;
      margin-top: 8px;
      width: 100%;
      height: 4px;
      border-radius: 50px;
      background: $bright-teal;
    }
  }

  &--is-disabled {
    color: $pale-gray;
    cursor: default;

    h2 {
      color: $pale-gray;
      cursor: default;
    }
  }
}

$fullWidth {
  $head {
    .tabs {
      flex: 1 0 auto;
      .tab {
        text-align: center;
        padding: 25px;
        line-height: 1;
        flex: 1 0 auto;
        background: $pale-gray;

        &.active {
          background: #fff;
        }
      }
    }
  }
}

$noPadding {
  $body {
    padding: 0;
  }
}

.c-tabs__tab.c-tabs__tab--is-active.c-tabs__tab--is-disabled {
  color: $charcoal-gray;
}

/**
 * Responsive tab body & head
 */
$tabBody {
  display: none;
}

$bodyTabActive $tabBody {
  display: block;
}

$bodyTabInactive {
  h2, i {
    color: $pale-gray;
  }

  &.c-tab--is-active {
    h2, i.fa-chevron-up {
      color: $charcoal-gray;
    }
  }
}

$tabHead {
  position: relative;
  padding: 25px;

  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }

  i {
    position: absolute;
    top: 30px;
    right: 25px;
  }
}
