h1, h2, h3, h4, h5 {
 margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;
  padding: 20px;
  color: white;
}

.title {
  color: #000000;
}

#mapfit {
  position: relative;
  width: 100%;
  height: 600px;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

main {
  height: 600px;
}


