$component: .c-input-action;
$actionEl: .c-input-action__element;
$invalid: .c-input-action--invalid;
$inputFocused: .c-input-action--invalid.c-input-action--input-focused;
$icon: .c-input-action__icon;
$wrapper: .c-input-action__wrapper;


$component {
  text-align: center;

  &:after {
    content: '';
    display: block;
    width: 44px;
    height: 20px;
    position: absolute;
    bottom: -10px;

    &:hover {
      $actionEl {
        display: block;
      }
    }
  }

  &:hover {
    $icon {
      color: $charcoal-gray;
      cursor: pointer;
    }
    $actionEl {
      display: block;
    }
  }
}

$actionEl {
  display: none;
}

$component {
  &--md {
    padding-left: 12px;
    height: 40px;
    i {
      font-size: 16px;
    }
  }
}

$icon {
  color: $ash-gray;
}

$inputFocused {
  $icon {
    color: $ash-gray;
  }

  $wrapper {
    &:hover {
      $icon {
        color: $charcoal-gray;
        cursor: pointer;
      }
    }
  }

}

$invalid {
  $icon {
    color: $light-red;
  }

  $wrapper {
    &:hover {
      $icon {
        color: $warning-red;
        cursor: pointer;
      }
    }
  }
}
