$component: .c-label;
$primary: .c-label--primary;
$warning: .c-label--warning;
$info: .c-label--info;
$danger: .c-label--danger;
$success: .c-label--success;
$disabled: .c-label--disabled;

$component {
  display: inline-block;
  font-weight: 900;
  line-height: 16px;
  border-radius: 100px;
  border-width: 1px;
  border-style: solid;
}

@define-mixin label-default $color, $bg-color {
  border-color: $color;
  color: $color;
  background: $bg-color;
}

@define-mixin label-size $padding, $font-size {
  padding: $padding;
  font-size: $font-size;
}

$component {
  &--md {
    @mixin label-size 8px 16px, 14px;
  }
}

$primary {
  @mixin label-default $deep-teal, $light-teal;
}

$danger {
  @mixin label-default $warning-red, $pale-red;
}

$warning {
  @mixin label-default $warning-orange, $pale-orange;
}

$info {
  @mixin label-default $rich-blue, $light-blue;
}

$success {
  @mixin label-default $dark-green, $pale-green;
}

$disabled {
  @mixin label-default $light-green, $off-white;
}
