$component: .c-dropdown;
$button: button.c-dropdown__button;
$menu: $(component)__menu;
$scrollWrapper: $(component)__scroll-wrapper;
$scrollContent: $(component)__scroll-content;
$tooltip: $(component)__tooltip;
$tooltip-content: $(component)__tooltip-content;
$separator: $(component)__separator;
$label: $(component)__label;
$caret: $(component)__caret;
$inactive: $(component)--inactive;
$invalid: $(component)--has-error;
$open: $(component)--is-open;
$wTooltip: $(component)--has-tooltip;

$medium: $(component)--md;

$component {
  width: 100%;
  position: relative;

  &$open {
    $button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    $button, $menu {
      border-color: $ash-gray;
    }
  }

  &$open&$wTooltip {
    $button {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  $caret {
    color: $ash-gray;
  }

  .c-static-popover {
    width: auto;
  }
}

$button {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  font-weight: $font-bold;
  background: #fff;
  border: 2px solid $light-gray;
  border-radius: $border-radius;
  color: $charcoal-gray;
  transition: border-color 0.3s ease;

  &:hover, &:focus, &:active, &:active:focus  {
    border: 2px solid $light-gray;
  }

  &:hover {
    cursor: pointer;
  }
}

$separator {
  border-top: 1px solid $pale-gray;
  border-bottom: 1px solid $pale-gray;
  background: $off-white;
  font-size: 12px !important;
  height: auto !important;
  line-height: 24px !important;

  &--empty {
    height: 1px !important;
    border-bottom: none;
  }

  &:hover {
    cursor: initial;
  }
}

$label {
  flex: 1 0 auto;
}

$menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 0.875rem;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.3s ease;
  overflow: hidden;

  margin-top: -2px;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  box-shadow: none;
  border-width: 2px;
  border: 2px solid $light-gray;
  padding: 0;
  width: 100%;
}

$scrollWrapper {
  background: transparent;
  height: auto;
  max-height: 200px;
}

$inactive {
  $button {
    border-color: $pale-gray;
    color: $light-gray;

    &:focus {
      border-color: $pale-gray;
      color: $light-gray;
    }
  }
}

$invalid {
  $button {
    border-color: $warning-red;
    background: $pale-red;
  }

  $button, $caret {
    color: $warning-red;
  }

  &$open {
    $button {
      border-color: $ash-gray;
      background: #fff;
    }

    $button, $caret {
      color: $charcoal-gray;
    }
  }

  &$inactive {
    $button {
      border-color: $light-red;
      background: $pale-red;
    }

    $button, $caret {
      color: $light-red;
    }
  }
}

$open {
  > $menu {
    display: block;
  }

  > $tooltip {
    display: block;
  }
}

$medium {
  $button {
    height: 48px;
    padding-right: 16px;
  }

  $label {
    padding: 0 0 0 16px;
    line-height: 42px;
    font-size: 16px;
  }

  $scrollContent > div,
  $scrollContent > div a,
  $scrollContent > span,
  $scrollContent > span a {
    font-size: 16px;
    line-height: 1;
    font-weight: $font-bold;
    padding: 16px;

    color: $charcoal-gray;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: block;
    &:hover {
      cursor: pointer;
      background: #f6f6f6;
    }
  }
}

$caret {
  margin-right: 0px;
  margin-left: 2px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top-width: 4px;
  border-top-style: solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

$tooltip {
  display: none;
  position: absolute;
  bottom: -16px;
  left: 50%;
}
