$component: .c-input;
$focused: $(component)--focused;
$inactive: $(component)--inactive;
$invalid: $(component)--invalid;
$wActions: $(component)--w-actions;
$wColor: $(component)--w-color;
$wTextLabel: $(component)--text-only;

$input: $(component)__input;

$hint: $(component)__hint;
$hintVisible: $(component)__hint--is-visible;

$colorWrapper: $(component)__color-wrapper;
$color: $(component)__color;

$text-label: $(component)__text-label;

$actions: $(component)__actions-wrapper;

@define-mixin input-size $height, $line-height, $font-size {
  height: $height;
  line-height: $line-height;

  $input {
    font-size: $font-size;
  }

  $actions {
    height: $height;
  }
}

@define-mixin input-type $background, $border-color, $font-color, $placeholder-color {
  background: $background;
  border-color: $border-color;

  $input {
    color: $font-color;

    &::placeholder {
      color: $placeholder-color;
    }
  }
}

$component {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-radius: $border-radius;
  padding: 0 16px;
  transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;
}

/** sizes **/
$component {
  &--md {
    @mixin input-size 48px, 1, 16px;
  }

  &--lg {
    @mixin input-size 64px, 1, 30px;
  }
}

$component {
  @mixin input-type #fff, $light-gray, $charcoal-gray, $ash-gray;
}

$inactive {
  @mixin input-type $off-white, $pale-gray, $light-gray, $light-gray;
}

$invalid {
  @mixin input-type $pale-red, $warning-red, $warning-red, $light-red;
}

$focused {
  @mixin input-type #fff, $ash-gray, $charcoal-gray, $light-gray;
}

$wActions {
  padding-right: 0;
}

$wColor {
  padding-left: 12px;
}

$wTextLabel {
  background: $pale-gray;
  border-color: $pale-gray;
}

$text-label {
  font-weight: $font-bold;
  flex: 1 0 auto;
}

$input {
  border: 0;
  width: 100%;
  -webkit-appearance: none;
  box-shadow: none;
  font-weight: 700;
  background: transparent;
  color: $charcoal-gray;

  &[disabled] {
     cursor: default;
  }
}

/** input actions **/
$component {
  &:hover,
  &:focus,
  &:active {
    $actions {
      visibility: visible;
    }
  }
}

$actions {
  & > ul {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 14px 0 0;

    & > li {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

/** input hint **/
$hint {
  position: absolute;
  width: auto;
  top: 48px;
  right: 10px;
  font-size: 14px;
  color: $ash-gray;
  display: none;

  span {
    vertical-align: sub;
  }
}

$hintVisible {
  display: block;
}

/** input color **/
$colorWrapper {
  width: 4px;
  position: relative;
  margin-right: 8px;
}

$color {
  display: block;
  border-radius: 25px;
}

$component {
  &--md {
    $color {
      size: 4px 24px;
    }
  }
}
