$component: .c-fullscreen-modal;
$close: $(component)__close;
$back: $(component)__back;
$content: $(component)__content;
$fadeInAnimation: $(component)__fade-in;

$component {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: auto;
}

$back,
$close {
  position: absolute;
  top: 40px;
  padding: 14px;
  text-align: center;
  border: 2px solid $ash-gray;
  border-radius: 100%;
  width: 48px;

  i {
    font-size: 16px;
    color: $ash-gray;
  }

  &:hover {
    cursor: pointer;
    border-color: $charcoal-gray;

    i {
      color: $charcoal-gray;
    }
  }
}

$back {
  left: 40px;
}

$close {
  right: 40px;
}

$content {
  margin: 128px 0 24px;
}

$fadeInAnimation {
  &-enter {
    animation-name: fadeIn;
    animation-duration: .15s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }

  &-exit {
    animation-name: fadeOut;
    animation-duration: .15s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1;}
  to { opacity: 0; }
}
