$component: .c-checkbox;
$input: $(component)__input;
$label: $(component)__label;
$elements: input[type="radio"].c-checkbox__input,
           input[type="checkbox"].c-checkbox__input;
$primary: $(component)--primary;
$primary--checked: .c-checkbox--primary.c-checkbox--checked;
$transparent: $(component)--transparent;
$transparent--checked: .c-checkbox--transparent.c-checkbox--checked;
$tick: $(component)__tick;
$tickbox: $(component)__tickbox;

$component {
  padding-left: 0px;
  display: inline-flex;
  align-items: center;
  margin: 0;
  position: relative;

  /** override default **/
  $elements {
    margin: 0;
    padding: 0;
    line-height: normal;
    box-sizing: border-box;
  }

  /**
   * Hover state
   */
  &:hover $input,
  &:hover $label {
    cursor: pointer;
  }

  /**
   * Sizes definition
   */
  &--md {
    $label {
      font-weight: $font-bold;
      font-size: 16px;
    }
    $input { size: 24px; }
    $tickbox { size: 24px; }
    $tick { font-size: 16px; }
  }

  &--sm {
    $input {size: 16px;}
    $label {
      font-size: 13px;
      font-weight: $font-normal;
      line-height: 16px;
    }
    $tickbox {size: 16px; }
    $tick {font-size: 12px;}
  }

  /**
   * Component states
   */
  &--checked {
    $tick {
      visibility: visible;
    }
  }

  &--inactive {
    $label { color: $light-gray; }
    $tickbox {
      cursor: default !important;
      border-color: $pale-gray !important;
      background: transparent !important;
    }
    $tick {color: #fff !important;}

    &.c-checkbox--checked {
      $tickbox {
        background: $pale-gray !important;
      }
    }
  }

  &--invalid {
    $tickbox {
      cursor: default !important;
      border-color: $warning-red !important;
      background: transparent !important;
    }
    $tick {color: #fff !important;}
    $label { color: $warning-red !important; }

    &.c-checkbox--checked {
      $tickbox {
        background: $warning-red !important;
      }
    }
  }

  &--label-first {
    $input {
      right: 0px;
      left: initial;
    }
    $label {
      padding-left: 0px;
      padding-right: 8px;
    }
  }

  &--rounded {
    $tickbox {
      border-radius: 50%;
    }
  }
}

$label {
  display: inline-block;
  position: relative;
  padding-right: 0px;
  padding-left: 8px;
  line-height: 1;
  color: $charcoal-gray;
}

$tick {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  position: relative;
  padding-top: 0px;
}

$tickbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $ash-gray;
  background-color: #fff;
  border-radius: 3px;
  z-index: 0;
}

$input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  margin: 0;
}

/**
 * Checkbox types
 */
$primary {
  $tickbox {
    background: transparent;
    border-color: $ash-gray;
  }
}

$primary--checked {
  $tick {
    color: $bright-teal;
  }
  $tickbox {
    background: $rich-blue;
    border-color: $rich-blue;
  }
}

$transparent {
  $tickbox {
    background: transparent;
    border-color: #cccccc;
  }
}

$transparent--checked {
  $tick {
    color: $bright-teal;
  }
  $tickbox {
    background: transparent;
    border-color: transparent;
  }
}
